.culculator__container {
	width: 350px;
	margin: auto;
	padding: 70px 25px 35px;
	background: grey;
	font-family: 'Roboto', sans-serif;

}

.number-area input {
	color: white;
	background: black;
	font-size: 70px;
	width: 100%;
	height: 70px;
	text-align: right;
	margin-bottom: 20px;
	border: none;
}

.buttons {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 5px;
}

.button {
	font-size: 25px;
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 5%;
	cursor: pointer;
}

.button__number {
	background: rgb(49, 49, 49);
	color: rgb(246, 246, 246);
}

.button__cansel,
.button__clear,
.button__enter,
.button__equal,
.button__empty-big {
	width: 120px;
	border-radius: 5%;
	color: black;
}

.button__cansel {
	background: red;
}

.button__clear {
	background: yellow;
}

.button__enter {
	background: green;
}

.button__empty-big {
	background: rgb(49, 49, 49);
}